<div class="row">
<section class="vh-10 rounded bg-light shadow m-3 col">
         <div class="container-fluid pt-4 px-4 p-5">
                <div class="row">
                  <div class="col col-ml-12">
                    <h2>Scrapping</h2>
                  </div>
                </div>
                <div class="row g-4 ">
                    <div class="col cursor">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center p-4 text-white">                            
                            
                                <i class="bg-primary rounded fa-solid fa-train fa-2xl"></i>                            
                            
                        </div>
                    </div>
                    <div class="col  cursor">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center p-4 text-white">                            
                            
                                <i class="fa-solid fa-plane-departure fa-2xl"></i>                           
                           
                        </div>
                    </div>
                    <div class="col cursor">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center p-4 text-white">                            
                            
                                <i class="fa-solid fa-bus-simple fa-2xl"></i>                            
                           
                        </div>
                    </div>                                  
                </div>
            </div>
        </section>
       
        <section class="vh-10 rounded bg-light shadow m-3 col">
          <div class="container-fluid pt-4 px-4 p-5">
                <div class="row">
                  <div class="col col-ml-12">
                    <h2>API's</h2>
                  </div>
                </div>
                <div class="row g-4">
                    <div class="col cursor">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center p-4 text-white">                            
                            
                                <i class="bg-primary rounded fa-solid fa-train fa-2xl"></i>                            
                            
                        </div>
                    </div>
                    <div class="col  cursor">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center p-4 text-white">                            
                            
                                <i class="fa-solid fa-plane-departure fa-2xl"></i>                           
                           
                        </div>
                    </div>
                    <div class="col cursor">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center p-4 text-white">                            
                            
                                <i class="fa-solid fa-bus-simple fa-2xl"></i>                            
                           
                        </div>
                    </div>                                    
                </div>
            </div>
        </section>
</div>

<div class="row">
         <section class="vh-10 rounded bg-light shadow-sm mt-3 col">
          <div class="container-fluid pt-4 px-4">
          <div class="row">
          <div class="col">
                    <h2>FLASH WAY DATA</h2>
            </div>
            <!-- <div class="col">
                  <button type="button" class="btn btn-primary cursor">Update operators</button>
            </div> -->            
          </div>
          <div class="row shadow-sm">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Resource From</th>
                  <th scope="col">Date</th>
                  <th scope="col">Data</th>
                  <th scope="col">Description</th>
                  <th scope="col">Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Make My Trip</td>
                  <td>12/7/2022</td>
                  <td>""[{:origin=>\"Banglaore\", :destination=>\"Hyedrabad\"",...."</td>
                  <td></td>
                  <td>Web Scraped</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                   <td>Make My Trip</td>
                  <td>13/7/2022</td>
                  <td>""[{:origin=>\"Banglaore\", :destination=>\"Mangalore\",...."</td>
                  <td></td>
                  <td>Api</td>
                </tr>
               <tr>
                  <th scope="row">2</th>
                  <td>IRCTC</td>
                  <td>14/7/2022</td>
                  <td>""[{:origin=>\"Banglaore\", :destination=>\"Chennai\", :,...."</td>
                  <td></td>
                  <td>Api</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                   <td>GOOGLE CALANDER</td>
                  <td>15/7/2022</td>
                  <td>""[{:origin=>\"Banglaore\", :destination=>\"Chennai\", ,...."</td>
                  <td></td>
                  <td>Api</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </section>
         <section class="vh-10 rounded bg-light shadow-sm mt-3 col">
          <div class="container-fluid pt-4 px-4">
          <div class="row">
          <div class="col">
                    <h2>SYNCED DATA</h2>
            </div>
            <!-- <div class="col">
                  <button type="button" class="btn btn-primary cursor">Update operators</button>
            </div>   -->          
          </div>
          <div class="row shadow-sm">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Syned On</th>
                  <th scope="col">Resource</th>
                  <th scope="col">Operator</th>
                  <th scope="col">Remarks</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>12/7/2022</td>
                  <td>Make My Trip</td>
                  <td>BITLA TRAVELS</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                   <td>15/7/2022</td>
                  <td>IRCTC</td>
                  <td>BITLA TRAVELS</td>
                  <td>Train cancelled due to heavy rains in Bangalore</td>
                </tr>
               <tr>
                  <th scope="row">2</th>
                   <td>16/7/2022</td>
                  <td>MAKE MY TRIP</td>
                  <td>BITLA TRAVELS</td>
                  <td>Flight schedule postponed due to weather conditions</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                   <td>17/7/2022</td>
                  <td>YELLOW TRAVELS</td>
                  <td>BITLA TRAVELS</td>
                  <td>Bus schedule cancelled due to low occupancy</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </section>
<section class="vh-10 rounded bg-light shadow-sm mt-3 col">
          <div class="container-fluid pt-4 px-4">
          <div class="row">
          <div class="col">
                    <h2>Mapped Travels</h2>
            </div>
            <!-- <div class="col">
                  <button type="button" class="btn btn-primary cursor">Update operators</button>
            </div>  -->           
          </div>
          <div class="row shadow-sm">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Operator</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">Flash Way</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>BITLA TRAVELS</td>
                  <td>Bitla@bitlasoft.com</td>
                  <td>(080-234567278)</td>
                  <td>Approved</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                   <td>RED TRAVELS</td>
                  <td>red@redtravels.com</td>
                  <td>(080-234567278)</td>
                  <td>Approved</td>
                </tr>
               <tr>
                  <th scope="row">2</th>
                   <td>YELLOW TRAVELS</td>
                  <td>yellow@yellowtravels.com</td>
                  <td>(080-234567278)</td>
                  <td>Pending</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                   <td>BLUE TRAVELS</td>
                  <td>Blue@bluetravels.com</td>
                  <td>(080-789555222)</td>
                  <td>Pending</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </section>
</div>
       