<div class="modal fade" id="license" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bitla Flash Way Aggrement</h5>        
      </div>
      <div class="modal-body">
        <h5 class="modal-title" >
          Sending Notification to the Bus Operators to create new services based on the data which we receive through various forms.</h5>

            1. Scraping of data from various websites and sharing the data to Bus Operator.
            2. Dynamically sharing calendar events across operators.
            3. Sending Notification to other bus operators based on the vehicle breakdown during the journey.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">I Don't</button>
        <button type="button" class="btn btn-primary">I Accept</button>
      </div>
    </div>
  </div>
</div>
<script>
$('#license').modal();
</script>