<style>
.cursor{
  cursor:pointer
}
</style>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
        <h1><a href="#" class="logo">B.</a></h1>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#"><span class="fa fa-home"></span> Dashboard</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-gavel"></span> Licesnes and Aggrement</a>
            </li>
        </ul>
        <div class="footer">
            <p>
                Copyright ©
                <script>document.write(new Date().getYear());</script>2022 All rights reserved | This template is
                made with <i class="icon-heart" aria-hidden="true"></i> by <b>Bitla</b>
            </p>
        </div>
    </nav>
  
    <div id="content" class="p-4 p-md-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">                
                <h2 class="fw-normal ml-4" style="letter-spacing: 1px;">Bitla Flash Way</h2>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                    <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                            <a class="nav-link" href="#"><i class="fa-solid fa-circle-user"></i> &nbsp;&nbsp;Welecome, <%=current_user.email%></a>                            
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-bell"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <%if current_user.email == "bitlaflashway@bitla.com"%>
        <%#if false%>
        <%= render :partial => "travels/dashboard" %>
        <%else%>
        <%= render :partial => "travels/operator" %>
        <%end%>
    </div>
</div>